{
  "extends": ["airbnb"],
  "plugins": [],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    'Vue': 'Vue',
  },
  "rules": {}
}
