html
  head
    title og:img checker
  body
    h1 og:img checker
    //form(method='POST')
    textarea(rows=10 cols=100 name='urls' id='urls')
    br
    button#sendBtn send
    script(src='/js/index.js')
