html
  head
    title og:img checker
  body
    h1 og:img checker
    textarea(rows=10 cols=100 name='urls' id='urls')
      |http://www.yahoo.co.jp/
      |https://google.co.jp/
      |http://www.apple.com/jp/
    br
    button#sendBtn(type='submit') send
    script(src='/js/index.js')
