html
  head
    title og:img checker
    link(rel='stylesheet' href='css/index.css')
  body
    .l-container
      .l-content
        h1.l-heading og:img checker

        #ogimgList
          .l-textarea
            textarea.m-textarea(rows=8 cols=80 name='urls' id='urls' placeholder='Input URLs here.')
          .l-button
            button.m-button(type='submit' v-on:click='fetch') CHECK
          ul.m-list
            li.m-item(v-for='ogimg in ogimgList')
              .m-item__ogimg
                figure
                  img(:src='ogimg.ogimg')
              .m-item__info
                h2.m-item__title {{ ogimg.title }}
                p.m-item__url {{ ogimg.url }}

    script(src='https://unpkg.com/vue')
    script(src='/js/index.js')
