html
  head
    title og:img checker
    link(href='css/index.css' rel='stylesheet' type='text/css')
  body
    h1 og:img checker

    #ogimgList
      textarea(rows=10 cols=100 name='urls' id='urls')
        | http://www.yahoo.co.jp/
        | https://google.co.jp/
        | http://www.apple.com/jp/
      br
      button(type='submit' v-on:click='fetch') send
      ul
        li(v-for='ogimg in ogimgList')
          h2 {{ ogimg.title }}
          p {{ ogimg.url }}
          p
            img(:src='ogimg.ogimg')

    script(src='https://unpkg.com/vue')
    script(src='/js/index.js')
