html
  head
    meta(name='viewport' content='width=device-width')
    title og:img checker
    link(rel='stylesheet' href='css/index.css')
  body
    .l-container
      .l-content
        h1.l-heading og:img checker

        #ogImgList
          .l-textarea
            textarea.m-textarea(rows=8 cols=80 name='urls' id='urls' placeholder='Input URLs here.')
          .l-button
            button.m-button(type='submit' v-on:click='fetch') CHECK
          ul.m-list
            li.m-item(v-for='ogImg in ogImgList')
              .m-item__ogimg(v-if='ogImg.ogImg')
                figure
                  img(:src='ogImg.ogImg')
              .m-item__ogimg.m-item__ogimg--non(v-else) no image

              .m-item__info
                h2.m-item__title {{ ogImg.title }}
                p.m-item__url {{ ogImg.url }}
                p.m-item__description {{ ogImg.ogDescription }}

    script(src='/js/vue.js')
    script(src='/js/index.js')
